# TUPLES:
* items are separated by comma and encloed with parenthesis()
* Differenc between list and tuple
 - list are mutable - can be changed/modified
   * used to access, modify, add, delete data
 - tuple are immutable - cannot be changed
   * used to access data only

In [33]:
t1=(1,2,3,4,5)
print(t1)
type(t1)

(1, 2, 3, 4, 5)

tuple

In [34]:
t1[1:4]

(2, 3, 4)

In [42]:
t1[-5:-2]

(1, 2, 3)

# DICTIONARIES:
* Keys, values
* it works on concept of set unique
* each key is separated from its values with colon()
* each key and value is separated by comma(,)
* dictionary enclosed with curly braces{}
* "key":"value"

In [2]:
d1={"name":"lav","emailid":"lav@gmail.com","address":"vizag"}
print(d1)

{'name': 'lav', 'emailid': 'lav@gmail.com', 'address': 'vizag'}

In [3]:
#access specific key
d1["name"]

'lav'

In [4]:
#update particular data
d1["address"]="hyderabad"

In [5]:
d1["address"]

'hyderabad'

In [6]:
print(d1)

{'name': 'lav', 'emailid': 'lav@gmail.com', 'address': 'hyderabad'}

In [7]:
#delete specific key value
del d1["emailid"]
d1

{'name': 'lav', 'address': 'hyderabad'}

In [8]:
#return list of key
d1.keys()

dict_keys(['name', 'address'])

In [9]:
#return list of values
d1.values()

dict_values(['lav', 'hyderabad'])

In [10]:
#list of tuple of keys and values
d1.items()

dict_items([('name', 'lav'), ('address', 'hyderabad')])

# Contact Appliction:
* add contact
* search he contact
* list all contact
  * name1:phone1
  * name2:phone2
* modify the contact
* remove the contact
* import the contact

***************
#This is formatted as code
***************

In [6]:
# add contact
contacts={}
def addcontact(name,phone):
    if name not in contacts:  #condition to check phone exists or not
        contacts[name]=phone
        print("contact details are added")
    else:
        print("contact details already exits")
    return
addcontact("lav","9704014997")

contact details are added

In [7]:
addcontact("rishi","26896235930")

contact details are added

In [8]:
addcontact("lav","9704014997")

contact details already exits

In [9]:
# search or contact details
def searchcontact(name):
    if name in contacts:
        print(name,":",contacts[name])
    else:
        print("does not exists")
    return
searchcontact("lav")

lav : 9704014997

In [27]:
searchcontact("pup")

does not exists

In [10]:
#import contacts
#merge with existing contacts
def importcontact(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contacts added successfully")
    return
newcontacts = {"shanu":"799626796","ajay":"974336356832"}
importcontact(newcontacts)
contacts

2 contacts added successfully

{'lav': '9704014997',
 'rishi': '26896235930',
 'shanu': '799626796',
 'ajay': '974336356832'}

In [11]:
#delete a contact
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted successfully")
    else:
        print(name,"not exist")
deletecontact("rishi")

rishi deleted successfully

In [12]:
a1="Igiat"
print(a1.upper())
print(a1.lower())

IGIAT
igiat

# BOOLEAN FUNCTIONS
* islower()
* isupper()
* istitle()
* isalpha()
* isnumeric()
* isspace()

# String Methods
* join()
* split()
* replace()

In [16]:
s1="Python" #join - combining words
print(" ".join(s1))

P y t h o n

In [19]:
s2="Python is easy programming language"
print(",".join(s2))

P,y,t,h,o,n, ,i,s, ,e,a,s,y, ,p,r,o,g,r,a,m,m,i,n,g, ,l,a,n,g,u,a,g,e

In [20]:
print(s2.split()) #split - replacing with comma

['Python', 'is', 'easy', 'programming', 'language']

In [21]:
print(s2.split("t"))

['Py', 'hon is easy programming language']

In [22]:
s3="sip sipper sipping"
print(s3.split("p"))

['si', ' si', '', 'er si', '', 'ing']

In [24]:
print(s2.replace("easy","simple")) #replace - replacing items

Python is simple programming language

# Packages and Modules
### Packages
  - A collection of modules(single python file.py) and subpackages

### Modules
  - A single python file containing set functions

### Packages-->Sub Packages-->Modules-->Functions-->Statements